{% extends 'base.html' %}


{% block content %}
    <h1>Whey List</h1>
    {% for protein in whey %}
        <a href="#">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ protein.name }}</span>
                    <p>Protein Content: {{ protein.protein_content }} grams</p>
                    <p>Size: {{ protein.size }} lbs</p>
                    <p>Price: ${{protein.price}}</p>
                    <p>Rating: {{protein.rating}}/5</p>
                    <p>Review: {{protein.review}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}